/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #24252A; 
  }
  ::-webkit-scrollbar-thumb {
    background: #8bb30c; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #a0ca16; 
  }




.bg-my-dark{
    background: #24252a;
}








body{
    background-color: #fbf3e5;
}
.col-black{
    color: black;
}
.my-nav-21 {
    background-color: #24252A;
    height: 60px;
    display: flex;
    margin-top: 0.5rem;
}

.my-nav-21-item-div {
    height: 100%;
    width: 50%;
    margin-left: 20%;
}

.my-nav-21-item-ul {
    list-style: none;
    display: flex;
    margin: 11px auto 0 0;
}

.my-nav-21-item-ul li a {
    color: #F1F2F6;
    transition: all ease 0.3s;
}

.my-nav-21-link-active,
.my-nav-21-item-ul li a:hover {
    color: #F1F2F6;
    font-weight: 500;
}

.my-nav-21-link-active {
    color: #F1F2F6;
    font-weight: 500;
}


.my-btn-21 {
    border: none;
    background-color: #a3c906;
    padding: 5px 20px;
    color: #D9DADF;
    font-weight: 700;
    border-radius: 45px;
    margin-top: 4px;
    margin-left: 15px;
    transition: all ease 0.4s;
}

.my-btn-21:hover {
    background-color: #bdeb08;
    box-shadow: 0 0 5px 5px #cbf32d;
}




.my-nav-21-logo-div{
    width: 50%;
    text-align: left;
}
.my-nav-21-logo-div img{
    width: 13rem;
    margin: 0 0 0 3% ;
}



/* ===================================================================================== */
.my-mob-nav-21{
    background-color: #24252A;
    height: 60px;
    display: none;
    margin-top: 0.5rem;
    z-index: 5;
}
.my-mob-nav-21-logo-div {
    text-align: left;
    padding-left: 15px;
    padding-top: 2px;
    height: 100%;
    width: 50%;
}
.my-mob-nav-21-logo-div img{
    width: 2.4rem;
}


.my-nav-21-side-icon {
    color: #F1F2F6;
    margin-right: 8px;
}

.my-nav-21-side-icon:hover {
    color: #637de4;
}

.my-mob-nav-21-side-icon-div{
    width: 50%; 
    height: 100%; 
    padding: 12px; 
    text-align: end;
}



.my-mob-nav-21-drop-option-bar{
    background-color:#2d2f34;
    width: 100% ; 
    padding: 10px 0 10px 0; 
    position: absolute;
    top: -100%;
    transition: all ease 0.5s;
    display: none;
}

#by_me{
    color: white;
    font-family: 'Play', sans-serif;
}


.mob-ads {
     display: none;  
}







@media (max-width: 815px){
    .my-nav-21{
        display: none;
    }
    .my-mob-nav-21{
        display: flex;
    }
    
    
    .mob-ads {
     display: block;  
    }
    
    
    
    
    
    
/* ===================================================================================== */
.my-mob-nav-21-drop-option-bar{
    display: block;
}
.my-nav-21-item-div{
    margin-left: 3%;
}


}






.footer-div{
    text-align:center; 
    background-color: #24252a; 
    padding: 10px;
}
.footer-div h4{
    color: white;
}
.footer-div h4 img{
    width: 20px;
}
